In [1]:
#Import dependencies.
import pandas as pd
import numpy as np
import requests

In [2]:
#Import files.
file1 = "salary_data_cleaned.csv"
file2 = "advisorsmith_cost_of_living_index.csv"

df = pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [3]:
#Cleaning and organizing existing data in file1.
#Only include columns we want and rename them accordingly.
df3 = df[["Job_Title", "Salary_Estimate", "Company_Name", "Location", "Sector", "Type_of_ownership", "Size", "Rating"]]

In [4]:
df4 = df3.rename(columns = {
    "Job_Title": "Job Title",
    "Salary_Estimate": "Salary Range",
    "Company_Name": "Company Name",
    "Location": "Job Location",
    "Sector": "Sector",
    "Type_of_ownership": "Type of Ownership",
    "Size": "Size of Company",
    "Rating": "Rating of Company"
})

In [5]:
#Remove rows with per hour rate reported.
df5 = df4[df4["Salary Range"].str.contains("Per Hour")==False]

#Delete/replace extra text elements.
df6 = df5.replace("(Glassdoor est.)", "", regex = True)
df7 = df6.replace("(Employer est.)", "", regex = True)
df8 = df7.replace("Employer Provided Salary:", "", regex = True)
df8["Salary Range"] = df8["Salary Range"].replace("K", "000", regex = True)

#Remove rows with rating = -1.
df9 = df8[df8["Rating of Company"] != -1]

#Clean "Company Name" column.
df9[["Company Name", "Rating of Company"]] = df9["Company Name"].str.split("\n", expand=True)

#Split "Salary Range" into separate columns of "Low" and "High", cast as int.
df9[["Salary Range", "n"]] = df9["Salary Range"].str.split(" ", expand=True)
df10 = df9.drop(columns = "n")
df10[["Low End of Salary Range", "High End of Salary Range"]] = df10["Salary Range"].str.split("-", expand=True)
df10[["$", "Low End of Salary Range"]] = df10["Low End of Salary Range"].str.split("$", expand=True)
df10[["$$", "High End of Salary Range"]] = df10["High End of Salary Range"].str.split("$", expand=True)
df11 = df10.drop(columns = "$")
df12 = df11.drop(columns = "$$")
df12["Low End of Salary Range"] = df12["Low End of Salary Range"].astype(int)
df12[["High End of Salary Range", "n"]] = df12["High End of Salary Range"].str.split("(", expand=True)
df13 = df12.drop(columns = "n")
df13["High End of Salary Range"] = df13["High End of Salary Range"].astype(int)

#Organize columns in preferred order.
df14 = df13[["Job Title", "Low End of Salary Range", "High End of Salary Range", "Company Name", "Job Location", "Sector", "Type of Ownership", "Size of Company", "Rating of Company"]]

#Cast "Rating of Company" as float.
df14["Rating of Company"] = df14["Rating of Company"].astype(float)

C:\Users\akgso\anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\akgso\AppData\Local\Temp/ipykernel_18504/4003718119.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df14["Rating of Company"] = df14["Rating of Company"].astype(float)

In [6]:
#Making "Middle of Salary Range" column.
a = df14["Low End of Salary Range"].tolist()
b = df14["High End of Salary Range"].tolist()
c = []
for i in range(len(a)):
    c.append((a[i]+b[i])/2)
df14["Middle of Salary Range"] = c
df15 = df14[["Job Title", "Low End of Salary Range", "Middle of Salary Range", "High End of Salary Range", "Company Name", "Job Location", "Sector", "Type of Ownership", "Size of Company", "Rating of Company"]]
df15["Middle of Salary Range"] = df15["Middle of Salary Range"].astype(int)

In [7]:
#Cleaning and organizing existing data in file2. Making "City, State" column out of "City" and "State".
df2["City, State"] = df2["City"] + ", " + df2["State"]
df16 = df2[["City, State", "Cost of Living Index"]]

In [8]:
#Create dictionary of keys=cities, values=COL. Loop through list of "Job Locations" and append COL number if "Job Locations" matches key in dictionary, otherwise append "NaN".
job_loc_list = df15["Job Location"].tolist()
city_state_list = df16["City, State"].tolist()
col_index_list = df16["Cost of Living Index"].tolist()
col_dict = {city_state_list[i]: col_index_list[i] for i in range(len(city_state_list))}
col_list = []
for i in range(len(job_loc_list)):
    if job_loc_list[i] in col_dict.keys():
        for key in col_dict:
            if job_loc_list[i] == key:
                col_list.append(col_dict[key])
    else:
        col_list.append("NaN")
df15["Cost of Living Index"] = col_list

In [9]:
#Calculate differential between middle of salary range and the COL for a given location.
#avg_col is average cost of living in United States as a single person ($38266 per year).
avg_sal = df15["Middle of Salary Range"].mean()
avg_col = 38266

In [10]:
#Create column for Salary index and generate values identically to how COL index was.
avg_sal_list = df15["Middle of Salary Range"].tolist()
avg_sal_index_list = []
for i in range(len(avg_sal_list)):
    avg_sal_index_list.append(round((avg_sal_list[i]/avg_sal)*100, 1))
df15["Average Salary Index"] = avg_sal_index_list

In [11]:
#Calculate differential, otherwise "NaN".
x = df15["Cost of Living Index"].tolist()
y = df15["Average Salary Index"].tolist()
z = []
for i in range(len(x)):
    if type(x[i]) == float:
        z.append(round((y[i]*avg_sal - x[i]*avg_col)/100))
    else:
        z.append("NaN")
df15["Salary and COL Differential"] = z

In [12]:
#Create empty lists to store lat, lng data for each City, State.
lat = []
lng = []
#Loop through all City, State data and retrieve lat, lng data through Google Maps API.
for i in range(len(job_loc_list)):
    target_city_state = job_loc_list[i]
    target_url = f"https://maps.googleapis.com/maps/api/geocode/json?address={target_city_state}&key=AIzaSyC3eqFAAPDCogh9CSV4audVKKTFN3H9X2g"
    geo_data = requests.get(target_url).json()
    lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
    lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])
#Add lat, lng lists to dataframe.    
df15["lat"] = lat
df15["lng"] = lng

In [13]:
df16 = df15.rename(columns = {
    "Job Title": "job_title",
    "Low End of Salary Range": "low_end_salary",
    "Middle of Salary Range": "middle_range_salary",
    "High End of Salary Range": "high_end_salary",
    "Company Name": "company_name",
    "Job Location": "job_location",
    "Sector": "sector",
    "Type of Ownership": "type_of_ownership",
    "Size of Company": "size_of_company",
    "Rating of Company": "rating_of_company",
    "Cost of Living Index": "cost_of_living_index",
    "Average Salary Index": "avg_salary_index",
    "Salary and COL Differential": "salary_col_differential",
    "lat": "lat",
    "lng": "lng"
})

In [14]:
df16.reset_index(drop = True, inplace=True)
df17 = df16.job_location.str.split(", ", expand=True)
state_list = df17[1].tolist()
df16["state"] = state_list

In [15]:
df16.to_csv('working_table.csv')

In [22]:
df18 = df16[["state", "middle_range_salary", "cost_of_living_index", "salary_col_differential"]]
df18 = df18.replace("NaN",np.nan)
df19 = df18[df18["state"].str.contains("Los Angeles")==False]
df20 = df19.groupby(["state"])
df21 = df20.mean().dropna()

In [23]:
df21.to_csv('working_table2.csv')